<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/icon.png') }}">
    <title>Trekventure</title>
</head>
<body>
    <div class="navbar">
        <div class="navbuttons">
        {% if 'uid' not in session: %}
            <button onclick="openregister()">Register</button>
            <button onclick="openlogin()">Login</button>
        {% else: %}
        <a href="/logout"><button>Logout</button></a>
        {% endif %}
        </div>
        <h1 class="title">TREKVENTURE</h1>
        <div class="navbuttons right">
            {% if 'uid' in session: %}
                <a href="/save"><button>Save</button></a>
            {% endif %}
            <a href="/restart"><button>Restart</button></a>
        </div>
    </div>
    <div class="main">
        <h1>Credits</h1>
        <p>Stars background Image by kjpargeter on Freepik</p>
        <p>API used: "https://stapi.co/"</p>
        <a href="/"><button>Go Back</button></a>
    </div>
</body>
</html>